@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .holder{
        width: 80%;
    }
    .card{
        @apply p-10 border-[#F1F1F1] rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
      }
}


.geist {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }